@import 'src/styles/variables.module';
@import 'src/styles/element-plus';
@import './sidebar.scss';
@import './tailwind.scss';

html,body,#app{
  height: 100%;
}

// main-container global css
.app-container {
  padding: 20px;
}

.search{
  padding: 18px 0 0 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 6px 2px 6px #CCC;
}

svg{
  display: inline-block;
}

.chooseAll {
  display: flex;
  span {
    margin-left: 20px;
    color: #409eff;
    cursor: pointer;
  }
}

.companyAll {
  display: flex;
  .list {
    display: flex;
    margin-right: 60px;
  }
}

.el-button.is-link {
  color: #7263CE !important;
}

.el-button-primary {
  color: #7263CE;
}

.el-button-origin {
  color: #606266 !important;
  border-color: #dcdfe6 !important;
  background: #ffffff !important;
  background-color: #ffffff !important;
  &:hover {
    border-color: #dcdfe6 !important;
    background: #ffffff !important;
    background-color: #ffffff !important;
  }
  &:active {
    border-color: #dcdfe6 !important;
    background: #ffffff !important;
    background-color: #ffffff !important;
  }
}

.el-button-primary {
  color: #ffffff !important;
  border-color: #7263CE !important;
  background: #7263CE !important;
  background-color: #7263CE !important;
  &:hover {
    border-color: #7263CE !important;
    background: #7263CE !important;
    background-color: #7263CE !important;
  }
  &:active {
    border-color: #7263CE !important;
    background: #7263CE !important;
    background-color: #7263CE !important;
  }
}

.el-popper {
  max-width: 300px !important;
}